
/* foods */

:root {
  --primary-red: #FF4532;
  --dark-red: #D93A28;
  --cream: #FFF8F0;
  --dark-gray: #2B2B2B;
  --light-gray: #5A5A5A;
  --accent-green: #C3E703;
  --accent-blue: #96D1C7;
}


svg {
  background: linear-gradient(145deg, #ff7464, #ff4532);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


*{
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}